body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__board {
  border: 3px solid;
}

.game__score {
  width: 70px;
}
.game__score-text {
  font-family: "permanent Marker", "sans-serif";
  font-size: 80px;
  line-height: 1;
}

/* reset and pause buttons */
.game__action-button {
  font-family: "permanent Marker", cursive;
  font-size: 22px;
  width: 80px;
  height: 50px;
  border: 3px solid;
  border-radius: 1000px;
  cursor: pointer;
  font-weight: bolder;
  color: white;
  border: rgba(0, 0, 0, 0.751) solid;
  background-color: rgba(26, 153, 3, 0.803);
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
/* adding some color */
.game__action-button::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  z-index: -1;
  background-image: linear-gradient(
    to bottom right,
    rgba(144, 238, 144, 0.529),
    rgba(0, 100, 0, 0.359)
  );
}

.game__action-button:hover {
  z-index: 0;
  box-shadow: 40px 0 100px #07bc343b, -40px 0 100px #f6020234;
}

.game__direction-buttons-general {
  font-family: "permanent Marker", cursive;
  font-size: 22px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  width: 60px;
  height: 60px;
  border: rgba(4, 5, 4, 0.751) solid;
  background-color: rgba(26, 153, 3, 0.803);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* adding some color */
.game__direction-buttons-general::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  z-index: -1;
  background-image: linear-gradient(
    to bottom right,
    rgba(144, 238, 144, 0.529),
    rgba(0, 100, 0, 0.359)
  );
}

.game__direction-buttons-general:hover {
  z-index: 0;
  box-shadow: 40px 0 100px #07bc343b, -40px 0 100px #f6020234;
}

/* Align buttons */

.game__direction-buttons-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  height: 40px;
  width: 40px;
}
.game__direction-button {
  position: absolute;
}

#leftBtn {
  right: 100%;
}
#upBtn {
  bottom: 100%;
}
#rightBtn {
  left: 100%;
}
#downBtn {
  top: 100%;
}

/* media queries */
.game__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.game__direction-buttons {
  padding-top: 60px;
}

.game__action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#pauseBtn {
  font-weight: bolder;
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  .game__controls {
    gap: 90px;
  }

  .game__direction-buttons-general {
    width: 55px;
    height: 55px;
  }

  .game__direction-buttons-center {
    height: 35px;
    width: 35px;
  }

  /* pause and reset buttons */
  .game__action-button {
    width: 60px;
    height: 40px;
  }
  .game__score {
    width: 55px;
  }
  .game__score-text {
    font-size: 60px;
  }
}
